*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/index.php
/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
wp-content/plugins/wordpress-importer/parsers.php
wp-content/plugins/wordpress-importer/readme.txt
wp-content/plugins/wordpress-importer/tmp-wordpress-importer-readme.pot
wp-content/plugins/wordpress-importer/wordpress-importer.php
wp-content/plugins/wordpress-importer/languages/wordpress-importer.pot
wp-content/plugins/ultimate-wp-query-search-filter/functions.php
wp-content/plugins/ultimate-wp-query-search-filter/readme.txt
wp-content/plugins/ultimate-wp-query-search-filter/screenshot-1.png
wp-content/plugins/ultimate-wp-query-search-filter/screenshot-2.png
wp-content/plugins/ultimate-wp-query-search-filter/screenshot-3.png
wp-content/plugins/ultimate-wp-query-search-filter/screenshot-4.png
wp-content/plugins/ultimate-wp-query-search-filter/screenshot-5.png
wp-content/plugins/ultimate-wp-query-search-filter/ultimate-wpqsf.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/ajax-add-cmf.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/ajax-add-taxo.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/class-list-table.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/forms.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/list-from-class.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/formmethod.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/meta_field.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/misc.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/post_type.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/taxonomy.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/fields/themeoption.php
wp-content/plugins/ultimate-wp-query-search-filter/admin/scripts/admin_uwpqsf.css
wp-content/plugins/ultimate-wp-query-search-filter/admin/scripts/uadmin_awqsfjs.js
wp-content/plugins/ultimate-wp-query-search-filter/admin/scripts/images/arrow-down.png
wp-content/plugins/ultimate-wp-query-search-filter/admin/scripts/images/arrow-up.png
wp-content/plugins/ultimate-wp-query-search-filter/classes/uwpqsf-base-class.php
wp-content/plugins/ultimate-wp-query-search-filter/classes/uwpqsf-front-class.php
wp-content/plugins/ultimate-wp-query-search-filter/classes/uwpqsf-process-class.php
wp-content/plugins/ultimate-wp-query-search-filter/classes/scripts/uwpqsfscript.js
wp-content/plugins/ultimate-wp-query-search-filter/html/searchform.php
wp-content/plugins/ultimate-wp-query-search-filter/themes/ajax_loader.gif
wp-content/plugins/ultimate-wp-query-search-filter/themes/default.css
wp-content/plugins/ultimate-wp-query-search-filter/themes/default.png
