.event-page{
	width: 90%;
	margin: 1em auto;

	.icon-fish{
		background: url('../assets/activity-sprite.png') no-repeat 0 -90px;
		padding-left: 80px;
		padding: 15px 0 15px 60px;
		background-size: 40px;
		text-align: left;
	}

	.event-photo{
		width: 100%;
		margin-bottom: 1em;
	}

	.event-info{
		border: 1em solid $lightgreen;
		width: 100%;
		padding: 1em;
		display: inline-block;
		margin-bottom: 2em;
		position: relative;
		padding-bottom: 3em;
		box-sizing: border-box;
		margin-top: 0em;

		@include main-font;

		div{
			margin-bottom: 1em;
			padding-left: 2em;
			position: relative;
			line-height: 1.4em;

			&:last-child{
				margin: 0;
			}
		}

		.dashicons{
			color: $green;
			position: absolute;
			left: 0;
		}

		.register-link{
			position: absolute;
			bottom: 0;
			left: 0;
			background: $orange;
			color: $white;
			display: block;
			width: 100%;
			padding: .5em;
			text-align: center;
			text-decoration: none;
			box-sizing: border-box;
			@include header-font;
			transition: background-color, .5s;

			&:hover{
				background: lighten( $orange, 3% );
			}

		}
	}

	.event-info-text{
		p{
			margin-bottom: 1em;
		}
	}
}

@media screen and (min-width: 800px){

	.event-page{

		.event-info{
			width: auto;
		}

		.event-photo{
			float: left;
			margin-right: 5%;
			width: 40%;
		}

		.event-text{
			float: right;
			width: 55%;
		}

	}

}