footer{
	background: $brown url('../assets/site-footer-bg-400.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 4em 5%;
	margin-top: 4em;
	clear: both;

	p{
		color: $white;
	}
}

@media screen and (min-width: 400px){

	footer{
		background-image: url('../assets/site-footer-bg-800.jpg');
	}

}

@media screen and (min-width: 800px){

	footer{
		background-image: url('../assets/site-footer-bg-1200.jpg');
	}
}

@media screen and (min-width: 1200px){

	footer{
		background-image: url('../assets/site-footer-bg-1600.jpg');
	}

}