.no-scroll{
	overflow:hidden;
}


.do-menu-close{
    position: fixed;
    top: 5vw;
    right: 5vw;
    z-index: 9999;
    display: none;

    &.is-open{
        display: block;
    }
}


.mega-menu{
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 999;
    padding: 4em 5vw;
    box-sizing: border-box;
    background: $white;
    transition: all .5s;
    visibility: hidden;

    &.is-open{
        right: 0;
        visibility: visible;
    }

    &.is-static{
        visibility: visible;
        position: static;
        border: none;
        width: 80%;
        margin: 2em auto;
    }

    .mega-menu-subtitle{
        color: $orange;
        margin-bottom: 2em;
    }

    .mega-menu-column{
        margin: 1em 0;

        img{
            width: 100%;
        }

        .mega-menu-column-title{
            @include header-font;
            font-size: 1.2em;
        }

        .mega-menu-column-title a{
            @include header-font;
            color: $orange!important;
        }

        .mega-menu-column-title, ul{

            + .mega-menu-column-title{
                margin-top: 1em;
            }
        }
    }
}

.mega-menu{


        .mega-menu-title{
            text-align: center;
            font-size: 1.4em;
        }

        .mega-menu-subtitle{
            text-align: center;
            margin-bottom: 2em;
            color: $orange;
        }

        .mega-menu-column{

            ul{
                margin-left: 2em;
            }

            h4 a, li a{
                text-decoration: none;
            }

            h4 a{
                @include header-font;
            }

            .promo-text{
                text-align: center;
                @include header-font;
            }

            .color-box{
                width: 100%;
                display: block;
                padding: 1em;
                box-sizing: border-box;
                text-decoration: none;
                text-align: center;

                h4{
                    color: $white;
                    @include header-font;
                    font-size: 1.2em;
                }

                p{
                    color: $white;
                }
            }



            &.full{
                margin: .5em 1%;
                width: 98%;

                .color-box{
                    background: $green;
                }
            }

            img{
                width: 100%;
            }

            ul + .mega-menu-column-title{
                margin-top: .5em;
            }
        }

        .activity-icon{
            display: block;
            background: $lightgreen;
            background: url('../assets/activity-sprite.png');
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: 61px;
            text-align: center;
            padding: 25px 0;
            text-decoration: none;
            @include header-font;
            transition: all .5s;

            &:hover{
                color: $orange;
            }

            &.climb{
                background-position: center -70px;
            }

            &.fish{
                background-position: center -140px;
            }

            &.paddle{
                background-position: center -210px;
            }

            &.travel{
                background-position: center -280px;
            }
        }
    }

header{
	@include clearfix;
	background: $brown url('../assets/site-footer-bg-400.png');
	padding: 1em 5vw;
	margin-bottom: .5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;

	h1{
		background: url('../assets/logo.png') no-repeat 0 0;
		background-size: 100%;
		text-indent: -9999em;
		width: 200px;
		height: 41px;
		float: left;
	}

	.menu-link{
		background: url('../assets/menu.png') no-repeat 0 0;
		background-size: 100%;
		text-indent: -9999em;
		width: 30px;
		height: 30px;
		display: block;
		float: right;
	}

	.nav-wrapper{
		position: fixed;
		width: 75vw;
		padding: 5vw;
		box-sizing: border-box;
		height: 100vh;
		background: $darkgreen;
		left: -100vw;
		top: 0;
		z-index: 9999;
		transition: all .5s;

		&.visible{
			left: 0;
		}
	}

    .utility-nav{
        display: none;

        a{
            float: right;
            margin: .25em 1em;
            color: $orange;
            text-decoration: none;
            font-size: .8em;
        }
    }

	#menu-main-nav{

		> li > a{
			@include header-font;
			color: $tan;
			text-decoration: none;
			font-size: 1.2em;
			padding: 1em 0;
			border-bottom: 1px solid $green;
			display: block;
			position: relative;
		}

	}

	.searchform{
		border: 1px solid $white;
		padding: .25em;
		margin-left: 2em

		input{
			@include header-font;
		}

		input[type="text"]{
			border: none;
			background: none;
			width: 75%;
			margin: 0 5% 0 0;
			float: left;
			padding: 0;
			border-bottom: 1px solid $white;
			color: $white;
			font-size: .8em;

			&:focus{
				outline: none;
			}

		}

		input[type="submit"]{
			border: none;
			background: none;
			color: $white;
			width: 20%;
			padding: 0;
			margin: 0;
			font-size: .8em;
		}
	}
}

.breadcrumbs{
	font-size: .8em;
	padding-left: 5%;
}

@media screen and (min-width: 400px){

	header{
		background-image: url('../assets/site-footer-bg-800.jpg');
	}

}

@media screen and (min-width: 800px){

	header{
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 2.5em;
		background-image: url('../assets/site-footer-bg-1200.jpg');
        position:relative;

	}
}

@media screen and (min-width: 1024px){
    .do-menu-close{ display: none!important; }
}

@media screen and (min-width: 1200px){

	header{
		background-image: url('../assets/site-footer-bg-1600.jpg');
        padding-bottom: 0;


        .utility-nav{
            position: absolute;
            top: .5em;
            right: 10%;
            width: 80%;
            display: block;

        }
		.menu-link{
			display: none;
		}

		.nav-wrapper{
			position: static;
			height: auto;
			width: auto;
			background: none;
		}

        .mobile-only-menu{ display: none!important; }

		.searchform{
			float: right;
			width: 20%;
		}

		.nav-wrapper{
			padding: 0;
			transition: none;
		}

		#menu-main-nav{
            padding-left: 25%;

			> li{
				display: inline-block;

				> a{
					border-bottom: 0;
					padding: 1em 0;
					line-height: 1em;
					display: inline-block;
					transition: all .5s;

                    span{
                        border-right: 2px solid $tan;
                        padding-right: 1em;
                        margin-right: 1em;
                    }

					&:hover{
						color: $lightgreen;
					}
				}

				&:last-child a{
					border: none;
				}
			}
		}
	}

    .mega-menu{
        display: block;
        position: absolute;
        border: 1px solid #ccc;
        top: 6em;
        left: 10%;
        width: 80%;
        padding: 2em;
        box-sizing: border-box;
        background: $white;
        height: auto;
        z-index: 9999;
        opacity: 0;

        &.is-open{
            opacity: 1;
        }

        .mega-menu-title{
            text-align: center;
            font-size: 1.4em;
        }

        .mega-menu-subtitle{
            text-align: center;
            margin-bottom: 2em;
            color: $orange;
        }

        .mega-menu-column{
            float: left;
            box-sizing: border-box;

            h4 a, li a{
                text-decoration: none;
            }

            h4 a{
                @include header-font;
            }

            .promo-text{
                text-align: center;
                @include header-font;
            }

            .color-box{
                width: 100%;
                display: block;
                padding: 1em;
                box-sizing: border-box;
                text-decoration: none;
                text-align: center;

                h4{
                    color: $white;
                    @include header-font;
                    font-size: 1.2em;
                }

                p{
                    color: $white;
                }
            }

            &.fifth{
                width: 18%;
                margin: .5em 1%;

                &:nth-child(5n+1){
                    clear: left;
                }

                &:nth-child(even) .color-box{
                    background: $red;
                }

                .color-box{
                    background: $orange;
                }
            }

            &.quarter{
                width: 23%;
                margin: .5em 1%;

                &:nth-child(even) .color-box{
                    background: $red;
                }

                .color-box{
                    background: $orange;
                }
            }

            &.full{
                margin: .5em 1%;
                width: 98%;

                .color-box{
                    background: $green;
                }
            }

            img{
                width: 100%;
            }

            ul + .mega-menu-column-title{
                margin-top: .5em;
            }
        }

        .activity-icon{
            display: block;
            background: $lightgreen;
            background: url('../assets/activity-sprite.png');
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: 61px;
            text-align: center;
            padding: 25px 0;
            text-decoration: none;
            @include header-font;
            transition: all .5s;

            &:hover{
                color: $orange;
            }

            &.climb{
                background-position: center -70px;
            }

            &.fish{
                background-position: center -140px;
            }

            &.paddle{
                background-position: center -210px;
            }

            &.travel{
                background-position: center -280px;
            }
        }
    }

}
