.location-details{
    position: absolute;
    background: black;
    background: rgba(0,0,0,.7);
    bottom: 0;
    right: 10%;
    width: 20%;
    text-align: left;
    padding: 3em 2em;
    box-sizing: border-box;

    h3{
        color: $orange;
        font-size: 1em!important;
        margin-bottom: 1em;
        text-transform: uppercase;
    }
}

.location-events{
    #ai1ec-container{
        width: 100%;
        margin: 0;
    }
}

.half-width.local-resources{
    text-align: left;

    li{
        margin-left: 2em;
        list-style: disc;

        a{
            color: $orange;
        }
    }
}

.social-links{

    a{
        display: block;
        padding: 1em;
        margin-bottom: 1em;
        color: white;
        @include header-font;
        font-size: 1.4em;

        &.facebook-link{
            background: #3B5998;
        }

        &.twitter-link{
            background: #55acee;
        }

        &.instagram-link{
            background: #125688;
        }

    }
}

.location-description{
    text-align: left;
}
