.main-content{
	@include clearfix;

    .page-section{
        text-align: center;
        clear: both;
    }

    .section-header{
        margin-bottom: 1em;

        &.is-page-title{
            padding: 2em 0 0;
            color: $orange;

        }
    }

    table{
        border: 1px solid #ccc;
        margin-bottom: 2em;

        th{
            background: $orange;
            color: $white;
            @include header-font;
            padding: .5em;
        }

        td{
            border: 1px solid #ccc;
            padding: .5em;
            @include main-font;
        }
    }

    /* ARCHIVE STYLES */

    .archive-view{
        width:80%;
        margin: 0 auto;

        .post-filter{
            background: #eee;
            padding: 2em;
            margin-bottom: 2em;
            width: 100%;
            border: none;
        }

        .tiled-list{
            padding: 0 1em;
            box-sizing: border-box;

            .tile{
                margin-bottom: 2em;

                a{
                    text-decoration: none;
                }

                img{
                    width: 100%;
                    height: auto;
                    margin-bottom: 1em;
                }

                h3{
                    color: $orange;
                    @include header-font;
                }
            }

        }

        .pagination-link{ clear: right; text-align: center; }
    }



    /* CONTENT PARSER */

    .promo{
        width: 80%;
        margin-left: 10%;
        margin-bottom: .5em;
        text-align: center;
        box-sizing: border-box;

        h2, h3{
            font-size: 1.4em;
        }

        a{
            text-decoration: none;
        }

        img{
            width: 100%;
            height: auto;
        }

        .promo-content{
            padding: 1em 5%;
            width: 90%;
        }

        .promo-bg-image{
            width: 100%;
            padding-top: 66.6667%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.half-width{
            margin-bottom: 2em;

            .promo-bg-image{
                border: 1px solid #eee;
                border-bottom: none;
            }
        }

        &.quarter-width{
            margin-bottom: 2em;

            .promo-bg-image{
                border: 1px solid #eee;
            }
        }

        &.full-width{
            background: $brown url('../assets/site-footer-bg-400.jpg') no-repeat center;
            box-sizing: border-box;
            background-size: cover;
            padding: 4em 10%;
            width: 100%;
            margin: 4em 0;

            h2, p, a{
                color: $white;
            }

            .promo-bg-image{
                width: 100%;
                height: 0;
                padding-top: 66.67%;
                margin: 0 auto 1em;
            }

            .button{
                color: $white;
                border-color: $white;

                &:hover{
                    background: $darkgreen;
                    color: $white;
                }
            }

            &.bg-image{
                position: relative;
                margin: 4em 0;
                padding: 0;
                background: none;
                width: 100%;


                .promo-content{
                    background: $white;

                    h2, p{ color: $green; }

                    .button{
                        color: $orange;
                        border-color: $orange;

                        &:hover{
                            background: $orange;
                            color: $white;
                        }
                    }
                }

            }

        }

        .promo-content{

            &.bg-orange{
                background: $orange;
                border: 1px solid $orange;

                h3, p, a{ color: $white!important; }
            }

            &.bg-green{
                background: $green;
                border: 1px solid $green;

                h3, p{ color: $white!important; }
            }

        }


    }

    .wysiwyg{
        text-align: left;
        width: 80%;
        max-width: 800px;
        margin: 2em auto;
        @include clearfix;

        h2, h3, h4, h5{
            margin: 2em auto;
        }

        *{
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        .bg-image{
            background-size: cover;
            height: 300px;
        }

        .wp-caption.aligncenter{
            margin: 2em auto;
        }

        .alignleft{
            float: left;
            margin: 1em 1em 1em 0;
        }

        .alignright{
            float: right;
            margin: 1em 0 1em 1em;
        }

    }

	.adventure-menu{
        margin: 0 auto 2em;
        width: 80%;
        color: $green;

        h2{ text-align: center; }

        h2 span{
            text-transform: none;
            margin-top: 1em;
            display: block;
            font-size: .8em;
        }

		ul{
			display: flex;
			flex-flow: row wrap;

			li{
				flex: 1 33%;
				margin-bottom: 1em;
				text-align: center;

				a{
					display: block;
					background: $lightgreen;
					background: url('../assets/activity-sprite.png?a');
					background-repeat: no-repeat;
					background-position: center 0;
					background-size: 61px;
					padding: 25px 0;
					text-decoration: none;
					@include header-font;
					transition: all .5s;

					&:hover{
						color: $orange;
					}

					&.climb{
						background-position: center -70px;
					}

					&.fish{
						background-position: center -140px;
					}

					&.paddle{
						background-position: center -210px;
					}

					&.travel{
						background-position: center -280px;
					}
				}
			}
		}


	}

	/* BLOG STYLES */

    .blog-content{
        padding: 0 10%;
        max-width: 800px;
        margin: 0 auto;
        background: white;
        padding: 2em;
        position: relative;
        margin-top: 2em;

        .wp-caption{ max-width: 100%; }

        img{
            padding: .5em 0;
            background: $white;
            max-width: 100%;
            height: auto;

            &.alignright{
                margin: 0em -6em 1em 2em;
                float: right;
            }

            &.alignleft{
                margin: 0em 2em 1em -6em;
                float: left;
            }
        }
        h3{
            font-size: 1.4em;
        }
        p, li, blockquote{
            color: $black;
            margin: 2em 0;
            font-size: 1.1em;
            line-height: 1.6em;
        }
        strong, b{
            font-weight: bold;
        }
        em, i{
            font-style: italic;
        }

        ul li{
            list-style: disc;
            margin: 1em;
        }

        ol li{
            list-style: decimal;
            margin: 1em;
        }

        .wp-caption-text{
            margin: 0;
            font-style: italic;
            font-size: .8em;
        }

        blockquote{

        }

        .wpcolumn{
            @include main-font;

            &.wpcolumn-last{
                border: 1px solid $orange;
                padding: 2em;

                li{
                    list-style: disc;
                    margin-left: 1em;
                }
            }
        }

        .attachment-post-thumbnail{
            width: 100vw;
            height: auto;
            margin-left: -5vw;
            margin-bottom: -80%;
        }

        .blog-header{
            margin: 0 0 2em;
            position: relative;

            .blog-header-text{
                max-width: 800px;
                margin: 0 auto;
                border-bottom: 1px solid $green;
                padding-bottom: 2em;
            }

            h2{
                color: $orange;
                font-size: 2em;
            }

            time{
                @include main-font;
            }

        }
    }

}

@media screen and (min-width: 800px){

	.main-content{

		&.has-sidebar{
			float: right;
			width: 75%;
			border-left: 1px solid $darkgreen;
			padding-left: 2%;
			box-sizing: border-box;

		}

        .archive-view{
            .post-filter{
                width: 25%;
                margin: 0;
            }
        }

        .tiled-list{
            width: 75%;
            float: right;

            .tile{
                width: calc(32% - 20px);
                float: left;
                border: 1px solid #eee;
                padding: 2%;
                box-sizing: border-box;

                &:nth-child(3n+1){
                    clear: left;
                }
            }

        }

        /* CONTENT PARSER */

        .wysiwyg{
            margin: 4em auto;
        }

        .quarter-container{
            width: 90%;
            margin: 0 auto;
        }

		.quarter-width{
            width: 45%;
            margin: 0 2.5% 2em;
            float: left;

            .promo-bg-image{
                //padding-top: 30%;
            }
		}

		.adventure-menu{

            h2{
                width: 20%;
                float: left;
                margin-right: 5%;
                text-align: right;
            }

			ul li{
				flex: 1 20%;
			}

		}

		.promo.full-width{

			background-image: url('../assets/site-footer-bg-800.jpg');

            &.page-header{
                background: $darkgreen;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                @media screen and (min-width: 400px){
                    background-image: url('../assets/home-header-bg-800.jpg');
                }

                @media screen and (min-width: 800px){
                     background-image: url('../assets/home-header-bg-1200.jpg');
                }

                @media screen and (min-width: 1200px){
                     background-image: url('../assets/home-header-bg-1600.jpg');
                }

                .promo-bg-image{
                    width: 80%;
                    margin: 0 auto;
                    height: 0;
                    padding-top: 53.3334%;
                    vertical-align: bottom;
                    border-right: 10px solid $white;
                    border-left: 10px solid $white;
                    background-color: $white;
                }
            }

			&.bg-image .promo-content{
				position: absolute;
				background: none;
				width: 34.5%;
				text-align: right;
				right: 8%;
                bottom: 1em;

				&.top-left{
					left: 8%;
					right: auto;
                    text-align: left;
                    top: 1em;
				}

				&.bottom-left{
					left: 8%;
					right: auto;
                    text-align: left;
                    bottom: 1em;
				}

				&.top-right{
					bottom: auto;
                    text-align: right;
                    top: 1em;
				}

				&.top-center{
					bottom: auto;
					text-align: center;
                    top: 1em;
				}

				&.bottom-center{
					text-align: center;
                    bottom: 1em;
				}



				h2, p, .button{
					color: $white;
					border-color: $white;
				}

                &.dark{
                    h2, p, .button{
                        color: $black;
                        border-color: $black;
                    }
                }
			}
		}

	}

}

@media screen and (min-width: 900px){

	.main-content{

        /* CONTENT PARSER */

        .half-container{
            padding: 0 9%;
            margin-bottom: 2em;
            @include clearfix;
        }

		.half-width{
			width: 48%;
			float: left;
            margin: 0 1%;

            .promo-bg-image{
               // padding-top: 32%;
            }
		}

		.promo.full-width{
			clear: both;
			background-image: url('../assets/site-footer-bg-1200.jpg');
            @include clearfix;

            .promo-bg-image{
                margin-bottom: 2em;
            }

            &.page-header{
                height: 65vh;

                .promo-bg-image{
                    width: 80%;
                    height: 65vh;
                    padding-top: 0;
                    margin: 0 auto;
                    background-position: center;
                    border-right: 10px solid $white;
                    border-left: 10px solid $white;
                }
            }

		}

        .quarter-container{
            width: 82%;
        }

		.quarter-width{
			width: 23%;
            margin: 0 1% 2em;


            .promo-bg-image{
                //padding-top: 15.3334%;
                background-size: cover;
                border: 1px solid #eee;
                background-position: center;
            }
		}

		.promo.full-width.bg-image .promo-content{
			font-size: 1.4em;

		}

	}

}

@media screen and (min-width: 1200px){

	.main-content{

        /* CONTENT PARSER */

		.promo{

            &.full-width{
			  background-image: url('../assets/site-footer-bg-1600.jpg');
		    }
        }

	}

}
