    .main-content{
	@include clearfix;

	.promo{
		width: 90%;
		margin-left: 5%;
		margin-bottom: .5em;
		text-align: center;
		box-sizing: border-box;

		h2, h3{
			font-size: 1.4em;
		}

		a{
			text-decoration: none;
		}

		img{
			width: 100%;
            height: auto;
		}

		.promo-content{
			padding: 1em 5%;
			width: 90%;
		}

        .promo-bg-image{
            width: 100%;
            height: 60vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

		&.full-width{
			background: $brown url('../assets/site-footer-bg-400.jpg') no-repeat center;
			box-sizing: border-box;
			background-size: cover;
			padding: 4em 5%;
			width: 100%;
			margin: 4em 0;

			h2, p{
				color: $white;
			}

			img{
				box-shadow: 5px 5px 10px $black;
				margin-bottom: 1em;
			}

			.button{
				color: $white;
				border-color: $white;

				&:hover{
					background: $darkgreen;
					color: $white;
				}
			}

            &.page-header{
                .promo-bg-image{
                    height: 43vw;
                }
            }

			&.bg-image{
				position: relative;
				margin: 4em 0;
				padding: 0;
				background: none;
				width: 100%;

				img{ box-shadow: none; }


				.promo-content{
					background: $white;

					h2, p{ color: $green; }

					.button{
						color: $orange;
						border-color: $orange;

						&:hover{
							background: $orange;
							color: $white;
						}
					}
				}

			}

		}

		.promo-content{

			&.bg-orange{
				background: $orange;

				h3, p, a{ color: $white!important; }
			}

			&.bg-green{
				background: $green;

				h3, p{ color: $white!important; }
			}

		}


	}

	.adventure-menu{

		ul{
			display: flex;
			flex-flow: row wrap;
			width: 75%;
			margin: 0 auto 2em;

			li{
				flex: 1 33%;
				margin-bottom: 1em;
				text-align: center;

				a{
					display: block;
					background: $lightgreen;
					background: url('../assets/activity-sprite.png');
					background-repeat: no-repeat;
					background-position: center 0;
					background-size: 61px;
					padding: 25px 0;
					text-decoration: none;
					@include header-font;
					transition: all .5s;

					&:hover{
						color: $orange;
					}

					&.climb{
						background-position: center -70px;
					}

					&.fish{
						background-position: center -140px;
					}

					&.paddle{
						background-position: center -210px;
					}

					&.travel{
						background-position: center -280px;
					}
				}
			}
		}


	}

	.page-section{
		text-align: center;
        clear: both;
	}

    .section-header + .page-section{
        margin-top: -2em;
    }

	&.blog-single{
		padding: 0 5%;

        .attachment-post-thumbnail{
            width: 100vw;
            height: auto;
            margin-left: -5vw;
            margin-bottom: -80%;
        }

		.blog-header{
			margin: 0 0 2em;
            position: relative;

			.blog-header-text{
				max-width: 800px;
				margin: 0 auto;
				border-bottom: 1px solid $green;
				padding-bottom: 2em;
			}

			h2{
				color: $orange;
				font-size: 2em;
			}

			time{
				@include main-font;
			}
		}

		.blog-content{
			max-width: 800px;
			margin: 0 auto;
            background: white;
            padding: 2em;
            position: relative;
            margin-top: 2em;

			img{
                padding: .5em;
                background: $white;

				&.alignright{
					margin: 0em -6em 1em 2em;
					float: right;
				}

				&.alignleft{
					margin: 0em 2em 1em -6em;
					float: left;
				}
			}
			h3{
				font-size: 1.4em;
			}
			p{
				color: $black;
				margin: 2em 0;
				font-size: 1.1em;
				line-height: 1.6em;
			}
			strong, b{
				font-weight: bold;
			}
			em, i{
				font-style: italic;
			}
		}
	}

}

@media screen and (min-width: 600px){

	.main-content{

		&.has-sidebar{
			float: right;
			width: 75%;
			border-left: 1px solid $darkgreen;
			padding-left: 2%;
			box-sizing: border-box;

		}

		.quarter-width{
			width: 42.5%;
			float: left;
		}

		.adventure-menu{

			ul li{
				flex: 1 20%;
			}

		}

		.promo.full-width{

			background-image: url('../assets/site-footer-bg-800.jpg');



            &.page-header{
                background: $darkgreen;

                img{
                    width: 80%;
                    margin: 0;
                    vertical-align: bottom;
                    border-right: 10px solid $white;
                    border-left: 10px solid $white;
                }
            }

			&.bg-image .promo-content{
				position: absolute;
				bottom: 5vw;
				background: none;
				width: 42.5%;
				text-align: left;
				right: 5%;

				&.top-left{
					top: 5vw;
					left: 0;
					right: auto;
				}

				&.bottom-left{
					left: 5%;
					right: auto;
				}

				&.top-right{
					top: 5vw;
					bottom: auto;
				}

				&.top-center{
					top: 5vw;
					bottom: auto;
					text-align: center;
				}

				&.bottom-center{
					text-align: center;
				}



				h2, p, .button{
					color: $white;
					border-color: $white;
				}
			}
		}

		.tiled-list{

			.tile{
				width: 20%;
				margin: 2.5%;
				float: left;

				a{
					text-decoration: none;
				}

				img{
					width: 100%;
					margin-bottom: 1em;
				}

				h3{
					color: $orange;
					@include header-font;
				}
			}

		}

	}

}

@media screen and (min-width: 900px){

	.main-content{

		.half-width{
			width: 42.5%;
			float: left;
			margin-bottom: 4em;
		}

		.promo.full-width{
			clear: both;
			background-image: url('../assets/site-footer-bg-1200.jpg');
            height: 100vh;

            .promo-bg-image{
                height: 50vh;
                margin-bottom: 2em;
            }

            &.page-header{
                height: 65vh;

                .promo-bg-image{
                    width: 80%;
                    height: 65vh;
                    margin: 0 auto;
                    background-size: cover;
                    background-position: center;
                    border-right: 10px solid $white;
                    border-left: 10px solid $white;
                }
            }

		}

		.quarter-width{
			width: 18.75%;
		}

		.promo.full-width.bg-image .promo-content{
			font-size: 1.4em;

		}

	}

}

@media screen and (min-width: 1200px){

	.main-content{

		.promo{

            &.quarter-width{
                .promo-bg-image{
                    height: 15vw;
                }
            }

            &.half-width{
                .promo-bg-image{
                    height: 29vw;
                }
            }

            &.full-width{
			  background-image: url('../assets/site-footer-bg-1600.jpg');
		    }
        }

	}

}
