@mixin clearfix{
	zoom: 1;

	&:after{
		content: '';
		height: 0;
		display: block;
		clear: both;
	}
}

.a11y, .screen-reader-text{
	text-indent: -9999em;
	height: 0;
	display: block;
	float: none!important;
	padding: 0!important;
}