.products{

	.sale-price{
		color: $red;
	}

	.page-title{
		margin-bottom: 1em;
	}

	.products-inner > a{
		text-decoration: none;

		&:hover{
			.product-name{
				text-decoration: underline;
			}
		}
	}

	.promos{
		
		> div{
			background: $red;
			color: $white;
			margin: 0 2em 2em;
			clear: both;
			width: 85%;
			box-sizing: border-box;
			padding: 1em;
			text-align: center;

			&:nth-child(n+3){
				display: none;
			}
			
			h2{
				color: $white;
			}

			.textwidget{

				p{ 
					color: $white; 

					&:last-child{
						margin: 0;
					}	
				}

				*{
					float: none;
					padding: 0;
					width: auto;
					text-align: center;
				}

				a{ 
					padding: .5em 1.5em;
					margin-bottom: 0;
					margin-top: 1em;
					background: $orange;
					color: $white;
					display: inline-block;
					text-decoration: none;

					&:hover{
						background: lighten( $orange, 5% );
					}
				}
			}
		}

			> div{

				&:nth-child(2){
					background: $orange;

					.textwidget{

						a{
							background: $red;

							&:hover{
								background: lighten( $red, 5% );
							}
						}
					}

				}
			

		}
	}

}

@media screen and (min-width: 800px){

	.products{

		.promos{

			> div{
				width: 45%;
				float: left;
				clear: none;
				text-align: left;
				margin: 0 2.5% 2em;

				.textwidget *{
					text-align: left;
				}
				
				+ div {
					margin-left: 0;
				}
			}
		}

		.promos.count-1{

			> div{
				width: 95%;
				text-align: center;

				.textwidget *{
					text-align: center;
				}
			}
		}
	}

}


.product-page{
	margin: 2em 5%;

	.product-list{
		li{
			float: left;
			width: 47.5%;
			margin-bottom: 2em;

			&:nth-child(odd){
				margin-right: 5%;
			}

			img{
				width: 100%;
			}
		}
	}

	.related-products{

		.section-header{
			position: relative;
			margin-bottom: 2em;

			span{
				background: $white;
				padding: 0 .25em;
				position: relative;
			}

			&:before{
				content: '';
				height: 1px;
				width: 100%;
				background: $orange;
				display: block;
				position: absolute;
				top: 50%;
			}
		}

		li{
			@include clearfix;
			margin-bottom: 2em;

			img{
				width: 47.5%;
				float: left;
				margin-right: 5%;
			}

			.related-products-content{
				float: right;
				width: 47.5%;
			}
		}
	}

}

@media screen and (min-width: 600px){

	.product-page{
		margin: 2em 10%;

		.promo.full-width img{
			margin-left: -4vw;
		}

		.product-list{

			li{
				width: 47.75%;

				&:nth-child(odd){
					margin: 0 2% 2em 0;
				}
			}
		}
	}

}

@media screen and (min-width: 800px){

	.product-page{

		.product-list{
			li{
				width: 31.15%;
				margin: 0 2% 2em 0;

				&:nth-child(odd){
					margin: 0 2% 2em 0;
				}
			}
		}

		.related-products{

			li{
				width: 31.15%;
				margin: 0 2% 2em 0;
				float: left;

				img{
					float: none;
					width: 100%;
				}

				.related-products-content{
					float: none;
					width: 100%;
				}
			}
		}

	}

}



