.search{

    .page-section{
        width: 100%;
        margin: 2em auto;
        text-align: left;
    }

    time{ display: none; }

    .section-title{
        font-size: 1.4em;
        color: $orange;
        margin-bottom: 2em;
        text-align: center;
    }

    article{
        clear: left;

        .type{
            display: block;
            font-size: .7em;
            color: $green;
        }

        h2 a{
            font-size: 1.2em;
            color: $orange;
            @include header-font;
            text-decoration: none;
            max-width: 600px!important;
            margin: 3em 0 1em!important;
            display: block;
        }
    }

    [data-posttype="locations"]{
        border: 2px solid $orange;
        padding: 2em;
        margin-bottom: 2em;
        @include clearfix;

        h2 a{
            margin-top: 0 !important;
        }

        .location-info{
            margin-bottom: 1em;
        }
    }

    .product-image{
        float: left;
        width: 20%;
        margin-right: 5%;

        img{
            width: 100%;
            height: auto;
        }
    }

    @media screen and (min-width: 800px){
        .page-section{
          //  width: 80%;
        }

        .section-title{
            text-align: left;
        }
    }

    @media screen and (min-width: 1200px){


        .location-info{
            float: left;
            width: 20%;
            border-right: 1px solid $orange;
            margin-right: 5%;
            /* WHAT */
        }

        .location-excerpt{
            padding-left: 25%;
        }
    }
}
