.site-promotion {
	display: none;
	padding: 12px;

	@media screen and (min-width: 720px) {
		background-color: $lightgreen;
	}

	.site-promotion-wrapper {

		@media screen and (min-width: 720px) {
			display: flex;
			justify-content: center;
		}
	}

	.site-promotion-text {
		align-items: center;
		display: flex;
		justify-content: center;

		padding: 12px 20px 12px 0;

		@media screen and (min-width: 720px) {
			margin-right: 71px;
			max-width: 600px;
		}

		p {
			margin: 0;
			text-align: center;

			@media screen and (min-width: 720px) {
				color: $darkgreen;
			}

			br {
				display: none;
				@media screen and (min-width: 620px) {
					display: inline;
				}
			}
		}
	}

	.site-promotion-cta {
		align-items: center;
		display: flex;
		justify-content: center;

		.cta-wrapper {
			margin: 20px 0 12px;

			a {
				background-color: $darkgreen;
				color: #fff;
				line-height: 1;
				margin: 0;
				padding: 6px 17px;
				text-decoration: none;
			}
		}
	}
}

.close-site-promotion {
	position: absolute;
	right: 1em;
	top: 1em;
	height: 19px;
	width: 19px;

	&:hover {
		cursor: pointer;
	}

	svg {
		fill: $darkgreen;
		height: 100%;
		width: 100%;
	}
}


.paddle-cta {
	background-color: rgba(0,0,0,0.95);
	box-sizing: border-box;
	bottom: 8px;
	display: none;
	left: 0;
	margin: 0 auto;
	max-width: 410px;
	padding: 22px 48px 18px 38px;
	position: fixed;
	right: 0;

	@media (min-width: 700px) {
		bottom: 44px;
		left: auto;

		padding: 22px 28px 18px 18px;
		right: 44px;
		width: 50%;
	}

	p {
		color: $lightgreen;
		margin-bottom: 20px;
	}

	.paddle-cta-close {
		height: 15px;
		position: absolute;
		top: 8px;
		right: 8px;
		width: 15px;

		&:hover {
			cursor: pointer;
		}

		svg {
			fill: #fff;
			height: 100%;
			width: 100%;
		}
	}

	.paddle-cta-links {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.paddle-appointment,
		.paddle-schedule {
			flex-basis: 44%;
		}

		a {
			background-color: $lightgreen;
			border: 2px solid $lightgreen;
			color: black;
			display: block;
			font-size: 12px;
			padding: 3px 6px;
			text-align: center;
			text-decoration: none;
			transition: all 155ms ease-out;
			width: 100%;

			@media (min-width: 700px) {
				font-size: 14px;
			}

			&:hover {
				background-color: black;
				color: $lightgreen;
			}
		}
	}
}
