$black: #111111;
$gray: #aaaaaa;
$brown: #644023;
$tan: #f4efe8;
$lightgreen: #deec9b;
$green: #6d6f44;
$darkgreen: #383a00;
$orange: #d78105;
$white: #ffffff;
$red: #bd0000;

//temporary colors
$blue: blue;
